<div
  class="flex align-items-center justify-content-around border-1 border-blue-100 border-round-top surface-50 w-full h-10rem">
  <div>
    <span (click)="toHome()"
      class="font-bold text-xl transition-duration-300 hover:text-gray-700 cursor-pointer">Shoply</span>
  </div>
  <div class="flex align-items-center gap-4 justify-content-between w-3">
    <div class="flex flex-column gap-2">
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Home</span>
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Products</span>
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Categories</span>
    </div>
    <div class="flex flex-column gap-2">
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Login</span>
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Register</span>
      <span class="font-light transition-duration-300 hover:text-primary cursor-pointer">Contact</span>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center gap-4">
    <span>
      <i (click)="openLink('https://www.linkedin.com/in/luka-golubovi%C4%87-b898a0130/')"
        class="pi pi-linkedin cursor-pointer transition-duration-300 hover:text-blue-700" style="font-size: 2rem"></i>
    </span>
    <span>
      <i (click)="openLink('https://github.com/golubovicluka')"
        class="pi pi-github cursor-pointer hover:text-gray-800 transition-duration-300" style="font-size: 2rem"></i>
    </span>
  </div>
</div>