.products-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

::ng-deep .p-dataview .p-dataview-header {
  border-radius: 15px !important;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

@media (max-width: 768px) {
  .p-dropdown {
    width: 100%;
  }
}
