<p-toast position="bottom-left"></p-toast>
<p-breadcrumb [home]="home" [model]="items" styleClass="w-full"></p-breadcrumb>

<div class="products-layout">
  <aside class="filters-panel" *ngIf="!isLoading;else loadingFilters">
    <h3 class="filters-title">Filters</h3>
    <app-filters (filtersObject)="applyFilters($event)" [categories]="categories"></app-filters>
    <div class="price-filter">
      <p-inputNumber class="mb-2 w-full" [(ngModel)]="rangeValues[0]" (ngModelChange)="onPriceChange($event)" mode="currency"
        inputId="currency" currency="RSD" locale="en-US">
      </p-inputNumber>
      <p-inputNumber class="mb-2 w-full" [(ngModel)]="rangeValues[1]" (ngModelChange)="onPriceChange($event)" mode="currency"
        inputId="currency" currency="RSD" locale="en-US">
      </p-inputNumber>
      <span class="price-label">
        Price range: {{(rangeValues[0] | number) + ' - ' + (rangeValues[1] | number)}} RSD
      </span>
      <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="lowestPrice" [max]="highestPrice" [animate]="true"
        (onSlideEnd)="handlePriceFilter($event)" class="w-full"></p-slider>
    </div>
  </aside>
  <ng-template #loadingFilters>
    <div class="filters-panel">
      <p-skeleton height="3rem" width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="4rem" width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="3.5rem" width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="3.5rem" width="100%" styleClass="mb-4"></p-skeleton>
      <p-skeleton height="2.5rem" width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2.5rem" width="100%" styleClass="mb-3"></p-skeleton>
      <p-skeleton width="100%" styleClass="mb-5"></p-skeleton>
      <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
    </div>
  </ng-template>

  <!-- Products section -->
  <div class="products-results">
    <p-dataView [value]="products" [lazy]="true" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords"
      [first]="first" [trackBy]="trackByProductId" (onLazyLoad)="loadData($event)"
      [loading]="isLoading" [rowsPerPageOptions]="[10,20,30]" paginatorPosition="bottom">
      <ng-template pTemplate="header">
        <div class="flex flex-column sm:flex-row align-items-center justify-content-between gap-3">
          <span class="p-input-icon-left w-full sm:w-auto mb-2 sm:mb-0">
            <i class="pi pi-search"></i>
            <input class="w-full" type="text" pInputText (ngModelChange)="onChanges($event)"
              [(ngModel)]="searchInput" placeholder="Search">
          </span>
          <div class="flex flex-column sm:flex-row w-full sm:w-auto">
            <p-dropdown class="w-full sm:w-auto mb-2 sm:mb-0 sm:mr-2" [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
              (onChange)="onSortChange($event)" [style]="{'min-width':'15em'}"></p-dropdown>
            <p-dataViewLayoutOptions class="hidden sm:block"></p-dataViewLayoutOptions>
          </div>
        </div>
      </ng-template>

      <!-- List view -->
      <ng-template let-product pTemplate="listItem">
        <div class="w-full" style="position: relative;">
          <app-product (addedToCart)="addToCart($event)" (removedFromCart)="removeFromCart($event)"
            (addedToWishList)="addToWishList($event)" [isListView]="true" [categoryId]="product.categoryId"
            [subcategoryId]="product.subcategoryId" (removedFromWishList)="removedFromWishList($event)"
            [name]="product.name" [category]="product.category" [subcategory]="product.subcategory" [id]="product.id"
            [images]="product.images" [inStock]="product.inStock" [price]="product.price"
            [description]="product.description" [EAN]="product.EAN"></app-product>
        </div>
      </ng-template>

      <!-- Grid view -->
      <ng-template let-product pTemplate="gridItem">
        <div class="w-full sm:w-6 md:w-4 lg:w-3 xl:w-2 p-2">
          <app-product (addedToCart)="addToCart($event)" (addedToWishList)="addToWishList($event)"
            [isListView]="false" [categoryId]="product.categoryId" [subcategoryId]="product.subcategoryId"
            (removedFromWishList)="removedFromWishList($event)" [name]="product.name" [category]="product.category"
            [subcategory]="product.subcategory" [id]="product.id" [images]="product.images" [inStock]="product.inStock"
            [price]="product.price" [description]="product.description" [EAN]="product.EAN"></app-product>
        </div>
      </ng-template>
    </p-dataView>
    <ng-template #loading>
      <div class="flex justify-content-center" style="padding-top: 30px">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </div>
    </ng-template>
  </div>
</div>
