<p-toast position="bottom-center"></p-toast>
<p-breadcrumb [home]="home" [model]="items" class="mb-4"></p-breadcrumb>

<!-- Cart preview header -->
<ng-container *ngIf="numberOfItems && !shippingView">
  <div class="text-center">
    <h3 class="font-light mb-1 pb-1 fadein animation-duration-300">
      Cart preview
    </h3>
    <span class="font-medium text-gray-800 mt-2 fadein animation-duration-300">
      <i class="pi pi-check-circle mr-2" style="color: green"></i>Free shipping
    </span>
  </div>
</ng-container>


<!-- Cart Items and Payment Details -->
<div *ngIf="numberOfItems"
  class="flex flex-column lg:flex-row justify-content-around m-2 mt-4 px-2 fadein animation-duration-300 gap-5">

  <!-- Cart Items List -->
  <div *ngIf="!shippingView" class="flex flex-column align-items-center justify-content-start w-full lg:w-8 gap-3 mb-3">
    <ng-container *ngFor="let product of products$ | async; let index = index">
      <div
        class="flex flex-column sm:flex-row relative align-items-center justify-content-between border-1 border-gray-50 border-round p-3 w-full shadow-2 transition-all animation-duration-500 hover:shadow-3 hover:border-primary-400">
        <p-button class="remove-btn" icon="pi pi-times" (click)="removeFromCart(product)"
          styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
        <div class="flex align-items-center">
          <img class="cursor-pointer" (click)="openProductDetails(product.id)" [src]="product.images[0]" height="100px"
            width="100px" [alt]="product.name" class="mr-3">
          <div class="flex flex-column">
            <h2 class="p-0 m-0 max-w-18rem">{{ product.name }}</h2>
            <span>{{ product.price | number }} RSD</span>
            <span *ngIf="product.inStock > 1" class="mt-1 text-green-400">{{product.inStock}} items available</span>
            <span *ngIf="product.inStock === 1" class="mt-1 text-green-400">
              <i class="pi pi-info-circle" style="color: #3A82F6"></i>
              Only {{product.inStock}} item available</span>
          </div>
        </div>
        <div class="mt-3 sm:mt-0">
          <i class="pi pi-minus cursor-pointer" (click)="decrementProductCount()" style="color: red"></i>
          <p-inputNumber class="m-1" [min]="1" [max]="product.inStock" inputId="integeronly" [(ngModel)]="pieces">
          </p-inputNumber>
          <i class="pi pi-plus cursor-pointer" (click)="incrementProductCount(product.inStock)"
            style="color: green"></i>
        </div>
      </div>
      <ng-container *ngIf="numberOfItems > 1">
        <p-divider class="w-full p-0"></p-divider>
      </ng-container>
    </ng-container>
    <span *ngIf="numberOfItems" class="align-self-center font-light mt-3">
      Total amount to pay: {{ totalPrice$ | async | number }} RSD
    </span>
  </div>

  <!-- Shipping Stepper -->
  <div *ngIf="shippingView" class="w-full lg:w-8 gap-1 mb-3">
    <div>
      <p-toast></p-toast>
      <p-steps [model]="stepperItems" [readonly]="false" [activeIndex]="activeIndex"
        (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Payment Details -->
  <div *ngIf="numberOfItems"
    class="flex payment-details align-items-start justify-content-between flex-column border-1 border-primary border-round shadow-2 hover:shadow-3 p-4 w-full lg:w-4 gap-3">
    <div>
      <h3 class="m-2 font-medium">
        Subtotal ({{ numberOfItems }}
        <span *ngIf="numberOfItems > 1">items</span>
        <span *ngIf="numberOfItems === 1">item</span>
        ): {{ totalPrice$ | async | number }} RSD
      </h3>
      <h3 class="m-2 font-medium">Shipping cost: 0 RSD</h3>
    </div>
    <div class="flex flex-column sm:flex-row align-content-center justify-content-between gap-2 w-full">
      <div class="flex flex-column w-full">
        <span class="product-price px-2 mx-2">
          {{ totalPrice$ | async | number }} RSD
        </span>
        <span class="font-light px-2 mx-2">
          or monthly payment {{selectedMonthlyPayment.name}} x
          {{
          (totalPrice$ | async) &&
          getInstallmentPayAmount((totalPrice$ | async), selectedMonthlyPayment.name) | number
          }} RSD
        </span>
      </div>
      <p-dropdown tooltipEvent="focus" [options]="monthlyPaymentOptions" [(ngModel)]="selectedMonthlyPayment"
        optionLabel="name" class="align-self-end w-auto"></p-dropdown>
    </div>
    <button (click)="openShippingView()"
      class="align-self-center p-button-outlined p-button-rounded p-button-primary w-full sm:w-8 mt-2 p-2" type="button"
      pButton pRipple [label]="shippingViewText"></button>
  </div>
</div>

<!-- Loading Spinner -->
<ng-template #loading="">
  <div class="center mt-5">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
</ng-template>

<!-- When Cart is Empty -->
<ng-container *ngIf="!numberOfItems">
  <div class="fadein animation-duration-300 flex mt-2 align-items-center justify-content-center flex-column">
    <h3 class="font-light">Your cart is empty...</h3>
    <button class="p-button-outlined p-button-rounded w-full sm:w-8 mt-2 p-2" type="button" pButton pRipple
      [routerLink]="['/products/search']" label="Find a product"></button>
  </div>
</ng-container>