.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
    min-height: 452px;
  }

  .product-image {
    width: 50%;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.product-price {
  font-size: 1.5rem;
  font-weight: 600;
  align-self: flex-start;
}

.tag {
  position: absolute;
  left: 0;
  top: 0;
}

.favorite {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}
