<!-- Grid view -->
<div *ngIf="!isListView; else listView" class="product-card">
  <i (click)="addRemoveItemWishlist(product)" class="favorite"
    [class]="inWishlist ? 'pi pi-heart-fill wishlist' : 'pi pi-heart'"></i>
  <div class="image" (click)="openProductDetails(id)" [ngStyle]="{ 'background-image': 'url(' + images[0] + ')'}">
  </div>
  <div class="title-section">
    <span style="font-size: 1.2rem;font-weight: bold;">{{name}}</span>
    <span>{{description}}</span>
  </div>

  <div class="item-bottom">
    <div class="bottom-left">
      <span>{{subcategory?.name}}</span>
      <p class="text-lg font-bold">{{price}} RSD</p>
      <span *ngIf="inStock !== 0;else notInStock">{{inStock}} items available</span>
      <ng-template #notInStock>
        <span class="text-red-500">Not available</span>
      </ng-template>
    </div>
    <div class="bottom-right">
      <i class="pi pi-cart-plus cart" style="font-size: 1.5rem"></i>
    </div>
  </div>
</div>

<!-- List view -->
<ng-template #listView>
  <div style="min-height: 202px;position: relative;"
    class="flex align-items-end justify-content-between w-full border-1 border-primary wishlist-container border-round-md my-3 px-5">
    <i *ngIf="!wishlistView" (click)="addRemoveItemWishlist(product)" class="favorite"
      [class]="inWishlist ? 'pi pi-heart-fill wishlist' : 'pi pi-heart'"></i>
    <div class="flex align-items-center justify-content-center">
      <img (click)="openProductDetails(id)" [src]="images[0]" [alt]="name" class="mx-5 cursor-pointer"
        style="aspect-ratio: auto;max-width: 200px;max-height: 200px;">
      <div class="flex flex-column justify-content-center align-items-start">
        <h2 class="font-bold text-blue-400 m-0 p-0">{{name}}</h2>
        <span class="font-light">EAN: {{EAN}}</span>
        <span>{{description}}</span>
        <span>{{category?.name}} > {{subcategory?.name}}</span>
      </div>
    </div>
    <div class="flex flex-column align-items-end justify-content-between">
      <span class="text-green-500" *ngIf="inStock > 1">{{inStock}} items available</span>
      <span class="text-green-500" *ngIf="inStock === 1">{{inStock}} item available</span>
      <span *ngIf="inStock === 0" class="text-red-500">Not available</span>
      <div class="flex align-items-end justify-content-around my-3 mb-3">
        <div class="flex align-self-start align-items-start flex-column mr-4">
          <h2 class="font-medium my-2">{{price}} RSD</h2>
          <span>or 12 x {{getInstallmentPayAmount(price)}} RSD / month</span>
        </div>
        <i class="pi pi-cart-plus cart" style="font-size: 1.5rem"></i>
      </div>
    </div>
  </div>

</ng-template>

<!-- Card view - regular small card with image, name and price -->