:root {
  --primary-color: mediumslateblue;
}

.product-card {
  width: 330px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid rgb(#f3f3f3, 0.8);
  backdrop-filter: blur(3px);
  background-color: #ffffff;
  position: relative;
  margin: 0rem;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
  transition: 0.5s ease-out;
  &:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  flex-grow: 2;
}

.bottom-left {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  padding: 20px 0px 10px 20px;
  width: 100%;
}

.bottom-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.item-bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  padding: 10px;
}

.image {
  width: 210px;
  height: 210px;
  max-height: 210px;
  max-width: 210px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.favorite {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}

.wishlist {
  color: red;
}

.cart {
  border: 1px solid #e9e9e9;
  padding: 10px;
  border-radius: 50%;
  &:hover {
    background-color: rgb(#c6c6c6, 0.25);
    cursor: pointer;
  }
}

.product-list-container {
  background-color: #f3f3f3;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  transition: 0.5s ease-out;
  &:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
    background-color: #f8f8f8;
  }
}
