<p-toast position="bottom-left"></p-toast>
<p-breadcrumb [home]="home" [model]="items"></p-breadcrumb>
<h3 class="center font-light mb-3 pb-0 fadein animation-duration-300" *ngIf="wishlistItems.length > 0">
  Wishlist items
</h3>
<ng-container *ngIf="wishlistItems;else loading">
  <div *ngFor="let product of wishlistItems">
    <div class="w-full fadein animation-duration-300" auto-animate style="position: relative;">
      <p-button class="p-3 remove-btn" icon="pi pi-times" (click)="removeFromWishlist(product)"
        styleClass="p-button-rounded p-button-danger"></p-button>
      <app-product #productComponent (addedToCart)="addToCart($event)" (removedFromCart)="removeFromCart($event)"
        [isListView]="true" [categoryId]="product.categoryId" [subcategoryId]="product.subcategoryId"
        [wishlistView]="true" [inWishlist]="existsInLocalStorage(product.id)" [name]="product.name"
        [category]="product.category" [subcategory]="product.subcategory" [id]="product.id" [images]="product.images"
        [inStock]="product.inStock" [price]="product.price" [description]="product.description"
        [EAN]="product.EAN"></app-product>
    </div>
  </div>
  <div class="fadein animation-duration-500 flex align-items-center flex-column justify-content-center"
    *ngIf="wishlistItems.length === 0">
    <h3 class="font-light">No wishlist items to display...</h3>
    <button style="max-width: 150px;" class="p-button-outlined p-button-rounded w-full sm:w-2 mt-2 p-2" type="button"
      pButton pRipple [routerLink]="['/products/search']" label="Find a product"></button>
  </div>
</ng-container>
<ng-template #loading="">
  <div class="center" style="padding-top: 30px">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
</ng-template>