:host ::ng-deep {
  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: var(--space-3) var(--space-4);
    font-size: var(--text-sm);
  }

  label {
    cursor: pointer;
    font-size: var(--text-sm);
  }
}
