<div class="filter-container">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Laptops">
      <div class="flex justify-content-start align-items-center">
        <p-checkbox class="px-2" name="groupname" value="Laptop" inputId="laptop"
          [(ngModel)]="selectedFilters"></p-checkbox>
        <label for="laptop">Laptop</label>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Phones">
      <div class="flex justify-content-start align-items-center">
        <p-checkbox class="px-2" name="groupname" value="Phone" inputId="phone"
          [(ngModel)]="selectedFilters"></p-checkbox>
        <label for="phone">Iphone 14 Pro</label>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>