<div
  class="flex fadein animation-duration-300 align-items-center justify-content-center gap-3 container w-full h-full mt-4">
  <!-- Left section -->
  <div
    class="flex align-items-center justify-content-center cursor-pointer border-round-2xl border-1 surface-border h-full w-full transition-duration-300 hover:shadow-2 hover:border-primary"
    (click)="redirect(macbookId)" style="height: 420px !important">
    <img alt="macbook image" [src]="macbookImg" height="300px" width="300px" />
    <div class="flex flex-column">
      <h2 class="p-0 m-0 mb-2">Macbook Air M1</h2>
      <span class="font-light pr-3">
        MacBook Air with M1 is an incredibly portable laptop, it’s nimble and
        quick, with a silent, fanless design and a beautiful Retina display.
        Thanks to its slim profile and all‑day battery life, this Air moves at
        the speed of lightness.
      </span>
      <p-button styleClass="p-button-link m-0 p-0 mt-2" label="Buy now" iconPos="right"
        icon="pi pi-angle-right"></p-button>
    </div>
  </div>

  <!-- Right section -->
  <div class="flex flex-column align-items-center gap-3 justify-content-center h-full w-full">
    <div
      class="flex cursor-pointer align-items-center justify-content-start border-1 surface-border h-full w-full border-round-2xl transition-duration-300 hover:shadow-2 hover:border-primary"
      (click)="redirect(ipadId)">
      <img class="border-round-2xl" alt="ipad image" [src]="ipadImg" height="200px" width="200px" />
      <div class="flex flex-column">
        <h2 class="p-0 m-0 mb-2">iPad Pro M2</h2>
        <span class="font-light">
          The new iPad Pro features a next-level Apple Pencil hover experience,
          ProRes video capture, superfast Wi-Fi 6E, and powerful features in
          iPadOS 16
        </span>
        <p-button styleClass="p-button-link m-0 p-0 mt-2" label="Buy now" iconPos="right"
          icon="pi pi-angle-right"></p-button>
      </div>
    </div>
    <div
      class="flex cursor-pointer align-items-center justify-content-start border-1 surface-border h-full w-full border-round-2xl transition-duration-300 hover:shadow-2 hover:border-primary"
      (click)="redirect(iphoneId)">
      <img class="border-round-2xl" alt="macbook image" [src]="iphoneImg" height="200px" width="200px" />
      <div class="flex flex-column">
        <h2 class="p-0 m-0 mb-2">iPhone 14 Pro Max</h2>
        <span class="font-light">
          The iPhone 14 Plus comes with 6.7-inch OLED display with 120Hz refresh
          rate and Apple's improved Bionic A16 processor. On the back there is a
          Triple camera setup with 48MP main camera.
        </span>
        <p-button styleClass="p-button-link m-0 p-0 mt-2" label="Buy now" iconPos="right"
          icon="pi pi-angle-right"></p-button>
      </div>
    </div>
  </div>
</div>

<!-- Carousel section -->
<p-carousel *ngIf="suggestedProducts;else loading" [value]="suggestedProducts" [numVisible]="3" [numScroll]="1"
  [circular]="true">
  <ng-template pTemplate="header">
    <h2 class="center font-light m-4 mt-8 pb-3 w-full h-full">Our newest products</h2>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="flex align-items-center justify-content-center">
      <!-- TODO: turn into separate component SuggestedProduct -->
      <app-suggested-product (openProductDetails)="redirect($event)" [inStock]="product.inStock" [id]="product.id"
        [name]="product.name" [description]="product.description" [price]="product.price"
        [image]="product.images[0]"></app-suggested-product>
    </div>
  </ng-template>
</p-carousel>

<ng-template #loading="">
  <div class="center" style="padding-top: 30px">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
</ng-template>

<!-- Newsletter section -->
<div class="flex align-items-center justify-content-around m-4 mt-8 p-4">
  <div class="w-full p-7">
    <h2 class="center font-bold m-4 pb-3 w-full h-full">Subscribe to our newsletter</h2>
    <span class="text-center font-light text-xl">All the latest, discounted and current products are already on the site
      and we
      have selected them for you! All
      you have
      to do is sign up for our Newsletter!</span>
  </div>
  <div
    class="flex flex-column align-items-center justify-content-center w-full h-10 mx-5 my-3 px-5 py-5 border-2 border-primary transition-duration-500 border-round-2xl hover:bg-blue-50">
    <div class="mb-4">
      <div>
        <input class="mr-1" type="text" pInputText placeholder="Name" formControlName="name" />
        <input class="ml-1" type="text" pInputText placeholder="Last name" formControlName="lastName" />
      </div>
      <input class="w-full mt-1" type="email" pInputText placeholder="Email" formControlName="email" />
      <p-button (click)="submitForm()" label="Sign up" styleClass="p-button-rounded mt-2 w-full"></p-button>
    </div>
  </div>
</div>