<div class="header">
  <span>webshop 2.0</span>
  <ul>
    <li [routerLink]="['/home']">Home</li>
    <li [routerLink]="['/products']">Products</li>
    <li [routerLink]="['/wishlist']">
      <i *ngIf="wishListItems !== '0'; else noWishList" class="pi pi-heart mx-2" pBadge [value]="wishListItems"
        style="font-size: 1.2rem"></i>
      <span *ngIf="wishListItems !== '0'">
        Wishlist
      </span>
      <ng-template #noWishList>
        <i class="pi pi-heart" style="font-size: 1.2rem"></i>
        Wishlist
      </ng-template>
    <li [routerLink]="['/cart']"><i class="pi pi-shopping-cart mx-2" pBadge value="2" style="font-size: 1.2rem"></i>
      Cart
    <li [routerLink]="['/login']"><i class="pi pi-user" style="font-size: 1.2rem"></i> Login
    </li>
  </ul>
</div>