/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Rubik:wght@400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

// Global styles
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
